{{#if error}}
<div class="card-panel red darken-4">
	<div class="center-align">
		{{!-- <span class="center white-text"><b>{{error}}</b></span>C --}}
		<span class="center white-text"><b>_errors.hbs REMOVE</b></span>C
	</div>
</div>
{{/if}}

{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}