{{#if success_msg}}
<span id="success" hidden>{{success_msg}}</span>
{{/if}}

{{#if info_msg}}
<span id="info" hidden>{{info_msg}}</span>
{{/if}}

{{#if error_msg}}
<span id="error" hidden>{{error_msg}}</span>
{{/if}}

{{#if passportError}}
<span id="error" hidden>{{passportError}}</span>
{{/if}}