<footer class="page-footer blue darken-4">
  <div class="container-fluid contenedor_ancho_total back_aqua_0">
    <div class="container contenedor_footer">
      <a href="#">
        Terminos y condiciones
      </a>
      <a href="#">
        Aviso de privacidad
      </a>
      <a href="#" target="_blank">
        <span class="icono_footer icon-github"></span>
      </a>
      <p>
        © Derechos reservados SYLARD
      </p>
      <img src="images/favicon_sylard3.svg" alt="Logo SYLARD" />
    </div>
  </div>
</footer>