<div class="container-fluid back_aqua">
  <!--INICIA barra de navegacion superior-->
  <nav class="container contenedor_ancho_area_principal">
    <div class="contenedor_switch float_left">
      <label class="texto" for="checkbox">
        ESP
      </label>
      <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
      </label>
      <label class="texto" for="checkbox">
        ENG
      </label>
    </div>
    <div class="barra_superior_elemento float_left active">
      <a href="/">
        <span class="icono icon-home1"></span>
        SYLARD
      </a>
    </div>
    <!-- la clase "ACTIVE" se usa en la sección que esta activa-->
    <!-- En el caso de HOME este elemento desaparece, ya que hay un icono en la barra publico-->
    <div class="barra_superior_elemento float_right">
      <a class="" href="/auth/login">
        ACCESAR
        <span class="icono icon-login"></span>
      </a>
    </div>
    <div class="barra_superior_elemento float_right">
      <a href="/auth/register">
        REGISTRO
        <span class="icono icon-person"></span>
      </a>
    </div>
  </nav>
  <!--TERMINA barra de navegacion superior-->
</div>