<!--INICIA barra de navegacion publico-->
<div class="container-fluid back_aqua_0">
  <nav class="container contenedor_barra_nav_publico">
    <a class="barra_nav_publico_elemento" href="/" id="bnpe_1">
      <span class="icono_nav_publico icon-home1"></span>
    </a>
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_2">
      Catálogo
    </a>
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_3">
      Documentación
    </a>
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_4">
      Manual de usuario
    </a>
    <h1 class="logo_menu" id="bnpe_5">
      SYLARD
    </h1>
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_6">
      Contacto
    </a>
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_7">
      Descargas
    </a>
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_8">
      Términos y condiciones
    </a>
    <a class="barra_nav_publico_elemento" href="#" id="bnpe_9">
      Creditos
    </a>
  </nav>
</div>
<!--TERMINA barra de navegacion publico-->