<body yahoo="yahoo">
<table width="100%"  cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td><table width="600"  align="center" cellpadding="0" cellspacing="0">
          <!-- Main Wrapper Table with initial width set to 60opx -->
          <tbody>
            <tr>
              <td><table bgcolor="#135C6E" class="top" width="100%"  align="left" cellpadding="0" cellspacing="0" style="padding:10px 10px 10px 10px;">
                  <!-- First header column with Logo -->
                  <tbody>
                    <tr>
                      <td style="font-size: 36px; color:#FFFFFF; text-align:center; font-family: serif;">SYLARD</td>
                    </tr>
                  </tbody>
                </table>
               </td>
            </tr>
            <tr> 
              <!-- HTML Spacer row -->
              <td style="font-size: 0; line-height: 0;" height="20"><table width="100%" align="left"  cellpadding="0" cellspacing="0">
                  <tr bgcolor="#006844">
                    <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                  </tr>
                </table></td>
				
            </tr>
			 
            <tr bgcolor="#006844"> 
              <!-- HTML Spacer row -->
              <td style="font-size: 0; line-height: 0;" height="20"><table width="96%" align="left"  cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                  </tr>
                </table></td>
            </tr>
            <tr bgcolor="#006844"> 
              <!-- Introduction area -->
              <td><table width="96%"  align="left" cellpadding="0" cellspacing="0">
                  <tr> 
                    <!-- row container for TITLE/EMAIL THEME -->
                    <td align="left"  style="font-size: 30px; font-weight: 600; line-height: 1em; color: #ffffff; font-family: sans-serif; padding:10px 20px 0px 20px;">Account activation </td>
                  </tr>
				  <tr> 
                    <!-- row container for TITLE/EMAIL THEME -->
                    <td align="left"  style="font-size: 16px; font-weight: 400; line-height: 1em; color: #badbcf; font-family: sans-serif; font-style: italic; padding:10px 20px 0px 20px;">Activación de cuenta</td>
                  </tr>
                  <tr> 
                    <!-- row container for Tagline -->
                    <td align="left" style="font-size: 30px; font-weight:500; color: yellowgreen; font-family: sans-serif; padding:20px 20px 0px 20px;">Hi "{{name}}"! </td>
                  </tr>
                  <tr>
                    <td style="font-size: 0; line-height: 0;" height="20"><table width="96%" align="left"  cellpadding="0" cellspacing="0">
                        <tr> 
                          <!-- HTML Spacer row -->
                          <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr> 
                    <!-- Row container for Intro/ Description -->
                    <td align="left" style="font-size: 22px; font-style: normal; font-weight: 100; color: #ffffff; line-height: 1.8; text-align:left; padding:10px 20px 0px 20px; font-family: sans-serif;">Please confirm your account by clicking on the following <a href="{{url}}" style="color:#FFD800">link</a></td>
                  </tr>
				   <tr> 
                    <!-- Row container for Intro/ Description -->
                    <td align="left" style="font-size: 16px; font-style: italic; font-weight: 100; color: #badbcf; line-height: 1.8; text-align:left; padding:10px 20px 0px 20px; font-family: sans-serif;">Confirmar cuenta en el siguiente <a href="{{url}}" style="color:#FFD800">enlace</a></td>
                  </tr>
                </table></td>
            </tr>
            <tr>
				<tr bgcolor="#006844">
                    <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                  </tr>
				 <td style="font-size: 0; line-height: 0;" height="20" bgcolor="#006844"><table align="right"  cellpadding="0" cellspacing="0" >
                  <tr >
                    <td  align="right" style="padding: 0 20px 0 0;" ><img src="https://i.ibb.co/sW1HH0C/florviento.png" alt="" height="200px" width="" class="responsiveImage" style="align: center; padding: 0px auto;"></td>
                  </tr>
                </table></td>
              <!-- HTML Spacer row -->
              <td style="font-size: 0; line-height: 0;" height="10"><table width="96%" align="left"  cellpadding="0" cellspacing="0">
                  <tr bgcolor="#006844">
                    <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                  </tr>
                </table></td>
            </tr>
            <tr >
              
            </tr>
            <tr bgcolor="#006844"> 
              <!-- HTML spacer row -->
              <td style="font-size: 0; line-height: 0;" height="20"><table width="100%" align="left"  cellpadding="0" cellspacing="0">
                  <tr>
                    <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                  </tr>
                </table></td>
            </tr>
           
		<tr bgcolor="#135C6E">
              	<td><table class="footer" width="100%"  align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="center"  style="font-size: 14px; font-weight:300; line-height: 2.5em; color: #FFFFFF; font-family: sans-serif;  padding:10px 20px 0px 20px">© Derechos reservados SYLARD <img src="https://i.ibb.co/NmTxnY6/favicon-sylard3.png" alt="Sylard logo">
                  	</td>
				  </tr>
                </table>
					</td>	  
              
		  </tr>
  </tbody>
