{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@config": "./server/config",
                    "@server": "./server",
                    "@client": "./client",
                    "@chelpers": "./client/helpers"
                }
            }
        ]
    ]
}