{
    // Allow babel to find which version of
    // ES we are using
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "s@config": "./server/config"
                }
            }
        ]
    ]
}