{
    "presets": [
        "minify",
        ["@babel/preset-env",{
            "useBuiltIns": "entry", // Allow Babel to use polyfills in the frontend
            "debug": true,
            "targets": {
                "node": "12"
              }
            }]
    ],
    "plugins": [
        // ["@babel/plugin-transform-runtime",
        //     {
        //       "regenerator": true
        //     }
        //   ],
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@config": "./server/config",
                    "@server": "./server",
                    "@controllers": "./server/controllers",
                    "@database" : "./server/database",
                    "@models" : "./server/models",
                    "@routes": "./server/routes",
                    "@helpers": "./server/helpers",
                    "@hbsHelpers":"./server/helpers/handlebars",
                    "@validators": "./server/validators",
                    "@client": "./client",
                    "@chelpers": "./client/helpers"
                }
            }
        ]
    ]
}