<div> Crear audioannotations</div>
<!--
<form action="/audioannotations/uploadfile" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="myFile" />
   <input type="submit" value="Upload a file"/>
</form>-->
<form action="/audioannotations/uploadfile" method="post" id="form" enctype="multipart/form-data">
            <label for="profilePic"></label>
            <input id=profilePic type='file' name='myFile'  />
            <input type="submit">
        </form>

<form class="col s12" action="/audioannotations/add" method="post">
<!--
<input type="file"
       id="eaf" name="eaf"
       accept="eaf/eaf">
       <br><br>

       a_id:String,
  eaf:String,
  titulo:String,
  description: { type: String },
  genero:String,
  duracion:String,
  mp3_url:String,
  https://code.tutsplus.com/es/tutorials/file-upload-with-multer-in-node--cms-32088  -->    


 <label for="titulo">Titulo:</label>
  <input type="text" id="titulo" name="titulo"><br><br>
  <label for="descripcion">Descripcion:</label>
  <input type="text" id="description" name="description"><br><br>
   <label for="coleccion">Coleccion:</label>
     <div>
  <datalist id="colection"></datalist>
  <select id="colection" name="colection">
     {{#each collections}}
          <option 
          {{!-- id = '{{_id}}' --}}
          value = "{{_id}}" 
          name= "{{name}}">
        {{name}}
        </option>
        {{/each}}
        </select>
 </datalist>
 </div>
 <label for="genero">Genero:</label>
  <input type="text" id="genero" name="genero"><br><br>
  <label for="duracion">Duracion</label><br><br>
  <label for="mp3_url">MP3</label>
  <input type="text" id="mp3_url" name="mp3_url"><br><br>

 
  
<button type="submit">Submit</button>
</form>