<div>Audio annotatios  </div>
<table>
 <thead>
    <tr>
      <th>Titulo</th>
      <th>Lengua Terminal</th>
      <th>Gpo de Lenguas</th>
      <th>Comunidad</th>
      <th>Hablantes</th>
      <th>Genero y Duración</th>
       <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
      {{#each audioannotations}}
  <tr>

        <td> {{titulo}} </td>
        <td> {{genero}} </td>
   <td> </td>
      <td> </td>
         <td> </td>
            <td>{{duracion}} </td>
              <td>acciones </td>


       </tr>
      {{/each}}    
  </tbody>
</table>

