/* body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
h1 {
  color: darkslategrey;
}
p {
  color: mediumturquoise;
}
.logo {
  width: 130px;
  margin: auto;
} */

[v-cloak] {
  display: none;
}
