<h1>Cuenta Promovida</h1>
<p>
    Hola <strong>{{name}} {{lastName}}</strong>,
</p>
<p>
    Buenas noticias, tu cuenta: {{email}} ha sido promovida a "colaborador", para ingresar haz clic en la siguiente <a href="{{url}}">enlace</a>.
</p>