<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- C<link rel='stylesheet' href='/stylesheets/app.css' /> --}}
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    {{{body}}}
    <button onclick="foo()">SALUDAR</button>
    <script src="/index.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
