<br>
<label for="location">Comunidad:</label>
<input type="text" minlength="3" id="location" name="location">
<button type="button" onclick="locations.fillLocationsById('location','locations')">BUSCAR</button>
<br>
<br>
<label for="locations">Comunidad:</label>
<div id="locations">
</div>

</br>
</br>