<h1>Nueva Contrase単a</h1>
<p>
    {{name}} haz solicitado reestablecer tu contrase単a, para lo cual te pedimos realizar los siguientes pasos:
</p>
<ol>
    <li>Accede a tu cuenta con esta contrase単a: {{password}}</li>
    <li>Te recomendamos cambiar la contrase単a una vez que recuperes el acceso.</li>
</ol>
