{{> _publicNavBar}}
	<div id="app4"  >
    <Dashboard>

    </Dashboard>
</div>
<<<<<<< HEAD
<script>/*
function myFunction() {
  let checkBox = document.getElementById("app3");
  let prueba = document.getElementById("prueba");
  if (checkBox.checked == true){
    prueba.style.display = "block";
  } else {
     prueba.style.display = "none";TODO
  }
}*/
=======
<script>
>>>>>>> d22c384ba90a65779076259bca90b46f7e94f1e7
</script>