{{> _publicNavBar}}
	<div id="app4"  >
    <Dashboard>

    </Dashboard>
</div>
<script>/*
function myFunction() {
  let checkBox = document.getElementById("app3");
  let prueba = document.getElementById("prueba");
  if (checkBox.checked == true){
    prueba.style.display = "block";
  } else {
     prueba.style.display = "none";TODO
  }
}*/
</script>