<body yahoo="yahoo">
    <table width="100%"  cellspacing="0" cellpadding="0">
      <tbody>
        <tr>
          <td><table width="600"  align="center" cellpadding="0" cellspacing="0">
              <!-- Main Wrapper Table with initial width set to 60opx -->
              <tbody>
                <tr>
                  <td><table bgcolor="#135C6E" class="top" width="100%"  align="left" cellpadding="0" cellspacing="0" style="padding:10px 10px 10px 10px;">
                      <!-- First header column with Logo -->
                      <tbody>
                        <tr>
                          <td style="font-size: 36px; color:#FFFFFF; text-align:center; font-family: serif;">SYLARD</td>
                        </tr>
                      </tbody>
                    </table>
                   </td>
                </tr>
                <tr> 
                  <!-- HTML Spacer row -->
                  <td style="font-size: 0; line-height: 0;" height="20"><table width="100%" align="left"  cellpadding="0" cellspacing="0">
                      <tr bgcolor="#632691">
                        <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                      </tr>
                    </table></td>
                    
                </tr>
                 
                <tr bgcolor="#632691"> 
                  <!-- HTML Spacer row -->
                  <td style="font-size: 0; line-height: 0;" height="20"><table width="96%" align="left"  cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                      </tr>
                    </table></td>
                </tr>
                <tr bgcolor="#632691"> 
                  <!-- Introduction area -->
                  <td><table width="96%"  align="left" cellpadding="0" cellspacing="0">
                      <tr> 
                        <!-- row container for TITLE/EMAIL THEME -->
                        <td align="left"  style="font-size: 30px; font-weight: 600; line-height: 1em; color: #ffffff; font-family: sans-serif; padding:10px 20px 0px 20px;">Reset password</td>
                      </tr>
                      <tr> 
                        <!-- row container for TITLE/EMAIL THEME -->
                        <td align="left"  style="font-size: 16px; font-weight: 400; line-height: 1em; font-style:italic; color: #b193c6; font-family: sans-serif; padding:10px 20px 0px 20px;">Restablecer contraseña</td>
                      </tr>
                      <tr> 
                        <!-- row container for Tagline -->
                        <td align="left" style="font-size: 30px; font-weight:500; color: #DD2ACF; font-family: sans-serif; padding:20px 20px 0px 20px;">Hi "{{name}}"! </td>
                      </tr>
                      
                      <tr>
                        <td style="font-size: 0; line-height: 0;" height="20"><table width="96%" align="left"  cellpadding="0" cellspacing="0">
                            <tr> 
                              <!-- HTML Spacer row -->
                              <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                            </tr>
                          </table></td>
                      </tr>
                      <tr> 
                        <!-- Row container for Intro/ Description -->
                        <td align="left" style="font-size: 22px; font-style: normal; font-weight: 100; color: #ffffff; line-height: 1.8; text-align:left; padding:10px 20px 0px 20px; font-family: sans-serif;">Procedure to reset password:<br>
                            <span  style="font-size: 16px; font-weight: 400; line-height: 1em; font-style:italic; color: #b193c6; font-family: sans-serif; padding:10px 20px 0px 0px;">Procedimiento para restablecer la contraseña:</span>
                            <ol>
                                <li style="font-size: 22px; font-style: normal; font-weight: 100; color: #ffffff; line-height: 1.2em; text-align:left; padding:0px 0px 0px 0px; font-family: sans-serif;">Access SYLARD with the following password:<br>
                                    <span  style="font-size: 16px; font-weight: 400; line-height: 1em; font-style:italic; color: #b193c6; font-family: sans-serif; padding:10px 0px 10px 0px">Acceder a SYLARD con la siguiente contraseña:</span><br>
                                    <span style="line-height: 2em; color:lightpink"><strong>"{{password}}"</strong></span></li>
                                <li style="font-size: 22px; font-style: normal; font-weight: 100; color: #ffffff; line-height: 1.2em; text-align:left; padding:20px 0px 0px 0px; font-family: sans-serif;">Change password in the menu: <strong>"Edit password"</strong><br><span style="font-size: 16px; font-weight: 400; line-height: 1em; font-style:italic; color: #b193c6; font-family: sans-serif; padding:10px 0px 10px 0px">Modificar la contraseña en el menú:<strong> "Editar contraseña"</strong></span>  </li>
                            </ol>
                        </td>
                      </tr>
                      <tr>
                        <td  align="center" style="padding: 0 0 0 0;" ><img src="https://i.ibb.co/9b5ZNHY/flores-restablecer-contrasena.png" alt="" height="150px" width="" class="responsiveImage" style="align: center; padding: 0px auto;"></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                    
                     <td style="font-size: 0; line-height: 0;" height="20" bgcolor="#632691"><table align="right"  cellpadding="0" cellspacing="0" >
                      
                    </table></td>
                  <!-- HTML Spacer row -->
                  <td style="font-size: 0; line-height: 0;" height="10"><table width="96%" align="left"  cellpadding="0" cellspacing="0">
                      <tr bgcolor="#632691">
                        <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                      </tr>
                    </table></td>
                </tr>
                <tr >
                  
                </tr>
                <tr bgcolor="#632691"> 
                  <!-- HTML spacer row -->
                  <td style="font-size: 0; line-height: 0;" height="20"><table width="100%" align="left"  cellpadding="0" cellspacing="0">
                      <tr>
                        <td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
                      </tr>
                    </table></td>
                </tr>
               
                      <tr bgcolor="#135C6E">
                  <td><table class="footer" width="100%"  align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td align="center"  style="font-size: 14px; font-weight:300; line-height: 2.5em; color: #FFFFFF; font-family: sans-serif;  padding:10px 20px 0px 20px">© Derechos reservados SYLARD <img src="https://i.ibb.co/NmTxnY6/favicon-sylard3.png" alt="Sylard logo">
                          </td>
                      </tr>
                    </table>
                        </td>	  
                  
              </tr>
      </tbody>
     </table></td>
        </tr>
      </tbody>
    </table>
    </body>
