
<main>
  <div class="container-fluid" id="contenedor_administrador_usuarios">
    <div class="container-fluid" id="cabezal_administrador_usuarios">
      <div class="container">
        <div
          class="col-sm-12"
          id="contenedor_items_cabezal_administrador_usuarios"
        >
          <div class="" id="contenedor_titulos_cabezal_administrador_usuarios">
            <h1 id="titulo_administrador_usuarios">
              <span class="icono_cabezal icon-group1"></span>
              Usuarios
            </h1>
            <h2 class="llamada" id="llamada_administrador_usuarios">
              Aquí están los colaboradores y consumidores de SYLARD
            </h2>
            <h3 class="blanco">
              ¡Recuerde revisar y tener cuidado al editar!
            </h3>
          </div>
        </div>
      </div>
    </div>
    <section class="container">
      
       <div id="appmainuser">
<CompUsuarios></CompUsuarios>


      </div>
    </section>
  </div>
</main>


<script>
let selectedUsers = [];

let openModal = function(index){
  // #THESIS Para la propagación de un evento
  // Ref: https://vsvaibhav2016.medium.com/event-bubbling-and-event-capturing-in-javascript-6ff38bec30e#:~:text=If%20you%20want%20to%20stop,to%20the%20bottom%20to%20top.
  // Get the modal
  event.stopPropagation()
  var modal = document.getElementById(`modal_elipsis${index}`);
  modal.style.display = "block";
}

let closeModal = function(index){
  var modal = document.getElementById(`modal_elipsis${index}`);
  modal.style.display = "none";  
}

window.onclick = event=>{
  let targetElement = event.target
  // #THESIS iterate over an array of elements got by its class names
  // ref: https://stackoverflow.com/questions/3871547/js-iterating-over-result-of-getelementsbyclassname-using-array-foreach
  // #THESIS CLick outside a modal
  // REF: https://www.blustemy.io/detecting-a-click-outside-an-element-in-javascript/#:~:text=To%20detect%20a%20click%20outside%20an%20element%20we%20must%20add,belongs%20to%20the%20flyout%20container.
  let modals = document.getElementsByClassName('contenido_modal_elipsis')

  do{
    let result = Array.from(modals).map(modal=>{
      if(targetElement == modal){
        // Click inside an element
        //console.log("return 1")
        return 1;
      }else{
        return 0;
      }
    })

    const reducer = (accumulator, currentValue) => accumulator + currentValue

    let count = result.reduce(reducer)

    if(count >= 1){
      //console.log("Clicked inside a modal")
      return
    }

    // Go up the DOM
    targetElement = targetElement.parentNode
  }while(targetElement)

  // Click outside an element
  Array.from(modals).forEach(modal => {
    if(modal.style.display == "block"){
      modal.style.display = "none";
    }
  })
  //console.log("click outside a modal")
}

let toggleSelection = function(id){

  let isSelected = selectedUsers.findIndex(userId => userId === id)

  let userTableRow = document.getElementById(id)

  if(isSelected === -1){
    selectedUsers.push(id)
    userTableRow.classList.add('selected')
  }else{
    userTableRow.classList.remove('selected')
    selectedUsers.splice(isSelected, 1)
  }
}

let toggleAllCheckBoxes = function(){
  let masterCheckBox = document.getElementById('masterCheckBox')
  var checkBoxes = document.getElementsByClassName('checkbox_personalizada')
