<h3 class="pink-text"><i class="{{iconTitle}}"></i> {{title}}</h3>
<div class="row">
  <div class="col s12">
      Malas noticias!!! 
  </div>
</div>
<div>
  <blockquote>
    <p>
      {{message}}
    </p>
    <p> 
      El error es este: <em class="red-text">{{error}}</em>.
    </p>  
    <p>
      Si suena muy tecnico te sugiero contactar al administrador.
    </p>
  </blockquote>
</div>