<h3 class="pink-text">Solicitd de Acceso como Colaborador <i class="fa fa-certificate"></i></h3>
<div class="row">
  <div class="col s12">
      Apreciable {{name}} {{lastName}}:
  </div>
</div>
<div>
  <blockquote>
    Hemos enviado su solicitud para acceder como colaborador. <br>
    en breve recibirá un correo informandole si su solicitud ha sido autorizada.
    En lo que esto ocurre puede acceder a los contenidos de SYLARD como visitante.
  </blockquote>
</div>