<h1>Confirmación de correo enviada...</h1>
<div>
  <p>
    Apreciable {{name}} {{lastName}}:
  </p>
</div>
<div>
  Hemos enviado un correo a: {{email}}, favor de hacer clic en el
  enlace para activar su cuenta.
</div>