<h3 class="pink-text">Confirmación de Correo <i class="fa fa-envelope"></i></h3>
<div class="row">
  <div class="col s12">
      Apreciable {{name}} {{lastName}}:
  </div>
</div>
<div>
  <blockquote>
    Hemos enviado un correo a: {{email}}, favor de hacer clic en el
    enlace para activar su cuenta.
  </blockquote>
</div>