

<h2 class="center pink-text">{{translation.LOGIN}}</h2>
<div class="row" style="padding-top:0px">
  <div class="col s0 m2 l3"></div>
  <form class="col s12 m8 l6 z-depth-3" style="padding: 20px; border-style: none; border-color: indigo;" action="/auth/login/user" method="post">
    
    <div class="row">
      <div class="col s0 m2 l1"></div>
      <div class="input-field col s12 m8 l10 center">
        <i class="fa fa-envelope prefix" style="color: grey;" aria-hidden="true"></i>
        <label for="email">{{translation.EMAIL}}</label>
        <input id="email" placeholder="Ingresa tu correo electrónico" type="email" class="validate" name="email"
          required>
      </div>
      <div class="col s0 m2 l1"></div>
    </div>

    <div class="row">
      <div class="col s0 m2 l1"></div>
      <div class="input-field col s12 m8 l10 center">
        <i class="fa fa-unlock-alt prefix" style="color: grey;" aria-hidden="true"></i>
        <label for="password">{{translation.PASSWORD}}</label>
        <input id="password" type="password" name="password" placeholder="Debe ser al menos de 6 caracteres"
          class="validate">
      </div>
      <div class="col s0 m2 l1"></div>
    </div>
    <div class="center-align">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div class="col s0 m2 l3"></div>
</div>