<h1 class="center pink-text">Registro</h1>
<div class="row" style="padding-top:30px">
    <form class="col s12" action="/auth/register/user" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input
            placeholder="Ingrese su nombre"
            id="name" 
            name="name" type="text" class="validate"
            value="{{name}}" required>
          <label for="nombre">Nombre</label>
        </div>
        <div class="input-field col s6">
          <input 
            placeholder="Ingrese su apellido" 
            id="lastName" 
            name="lastName" type="text" class="validate"
            value="{{lastName}}" required>
          <label for="lastName">Apellido</label>
        </div>
      </div>

    <div class="row">        
        <div class="switch col s12">
            <div class="grey-text">Registrarse como</div>
            <label>
                Visitante
                <input 
                    id="role"
                    name="role"
                    type="checkbox"
                    {{!-- disabled --}}
                    >
                <span class="lever"></span>
                Colaborador
            </label>
        </div>
    </div>

      <div class="row">
        <div class="input-field col s12">
          <input 
            id="email" 
            type="email" 
            class="validate"
            name="email"
            required>
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input 
            id="password" 
            type="password" 
            name="password"
            placeholder="Debe ser al menos de 6 caracteres"
            class="validate">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input 
          id="confirmationPassword"
          name="confirmationPassword"
          placeholder="Debe coincidir con el de arriba"
          type="password" class="validate">
          <label for="confirmationPassword">Confirme su Password</label>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>