<main>
  <div class="container-fluid" id="contenedor_administrador_usuarios">
    <div class="container-fluid" id="cabezal_administrador_usuarios">
      <div class="container">
        <div
          class="col-sm-12"
          id="contenedor_items_cabezal_administrador_usuarios"
        >
          <div class="" id="contenedor_titulos_cabezal_administrador_usuarios">
            <h1 id="titulo_administrador_usuarios">
              <span class="icono_cabezal icon-group1"></span>
              {{title}}
            </h1>
            <h2 class="llamada" id="llamada_administrador_usuarios">
              {{content}}
            </h2>
            <h3 class="blanco">
            {{advice}}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <section class="container">
      
       <div id="appgenres">

      </div>
    </section>
  </div>
</main>

