<h3 class="pink-text">Confirmación de Correo <i class="fa fa-envelope"></i></h3>
<div class="row">
  <div class="col s12">
      Apreciable {{name}} {{lastName}}:
  </div>
</div>
<div>
  <blockquote>
    Hemos activado tu cuenta recuerda que accederas con
    el siguiente correo: <em>{{email}}</em>. <br>
    Y el password que proporcionaste.
  </blockquote>
</div>