<h3 class="pink-text">Confirmación de Correo <i class="fa fa-frown-o"></i></h3>
<div class="row">
  <div class="col s12">
      Malas noticias!!! 
  </div>
</div>
<div>
  <blockquote>
    <p>
      Ha ocurrido un desafortunado error en el proceso de
      confirmación de correo electronico.
    </p>
    <p> 
      El error es este: <em class="red-text">{{message}}</em>.
    </p>  
    <p>
      Si suena muy tecnico te sugiero contactar al administrador.
    </p>
  </blockquote>
</div>