<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilos_menu.css">
	<link rel="icon" href="images/favicon_sylard3.svg" sizes="any" type="image/svg+xml">
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="fonts/style.css">
	<link rel="stylesheet" href="css/bootstrap-grid.css"> 
    {{> _publicNavBar}}
<main>
		<div class="container-fluid" id="contenedor_editar_contrasena">
			<div class="extension_fondo_blanco_izquierdo d-sm-none d-md-block"></div>
		<div class="container">
			<div class="row contenedor-90vh" id="fila1_creditos">
				<div class="col-md-7" id="columna_izquierda_creditos">
				  <div class="columna_izquierda_seccion_standar">
					<h1 class="color_principal">Créditos</h1>
						<h3 class="h3_para_fijas">Apoyo</h3>
						<p class="parrafo_grande"><strong></strong>El desarrollo de SYLARD ha sido posible gracias al apoyo del <strong>National Endowment for the Humanities, Office of Digital Humanities</strong><br> (HAA 266482-19)</p>
					  <h3 class="h3_para_fijas">Director del proyecto</h3>
						<p class="parrafo_grande">
							 <strong>Jonathan D. Amith</strong>, Departamento de Antropología, Gettysburg College <a href="mailto:mesolex.director@gmail.com">mesolex.director@gmail.com</a>.</p>
						<h3 class="h3_para_fijas">Desarrollo del portal</h3>
					<div class="contenedor_drako_estudio_team">	
							
					  <div>
						<p class="parrafo_grande">
							<strong>Drako Estudio</strong>
						</p>
						<ul>
								  <li class="item_lista_colaboradores"><strong>Bruno Pérez,</strong> Fundador / Líder de diseño</li>
								  <li class="item_lista_colaboradores"><strong>Ivan Rivalcoba,</strong> Líder técnico</li>
								  <li class="item_lista_colaboradores"><strong>Antonio Flores,</strong> Líder de desarrollo</li>
								  <li class="item_lista_colaboradores"><strong>Alberto Mondragon,</strong> Desarrollador</li>
								  <li class="item_lista_colaboradores"><strong>Christian Ruiz,</strong> Desarrollador</li>
								  <li class="item_lista_colaboradores"><a href="mailto:contacto@drakoestudio.com.mx"><span class="icono_principal_correo_drako_estudio icon-mail_outline"></span> contacto@drakoestudio.com.mx</a>.</li>
								</ul>
						<h3 class="h3_para_fijas">Colecciones</h3>
						<p class="parrafo_grande">Cada colección muestra su propio crédito.</p>  
					  </div>
					<!--img class="imagen_logo_drako_estudio" src="images/logodrakoestudio.jpg"-->
				    </div>						
				</div>
			</div>
					<div class="" id="columna_derecha_creditos">
						<img class="" src="images/planta_colaborador.svg" id="conejo_creditos" alt="Imagen de animal fantástico de Textil Huichapan">
					</div>
			</div>
		</div>
	</div>
	</main>